<h1>Edit Task</h1>
<form class="edit" id="edit_1" action="/tasks/1" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="N47B9uuCscf1TMPr56jIyLE9RrA+65tv4TC6Ks+UO96ZLg9hTaqYE9NiAuozjZkjxGGa/AXIYREuZ6KSu427IQ==">
  <label for="task_title">Title</label>
  <input type="text" value=<%= @task.title%> name="task[title]" id="task_title">
  <label for="task_details">Details</label>
  <input type="text" value=<%= @task.details%> name="task[details]" id="task_details">
  <label for="task_completed">Completed</label>
  <input type="number" value=<%= @task.completed%> name="task[completed]" id="task_completed">
  <input type="submit" name="commit" value="Update Task" data-disable-with="Update Task">
</form>
